<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="soiree-list">
    <div class="soiree-event" ng-repeat="soiree in soirees">
      <span>Posted by: {{ soiree.created_by.name }}</span><br>
      <span>Soiree Name: {{ soiree.title }}</span><br>
      <span>Location: {{ soiree.location }}</span><br>
      <span>Description: {{ soiree.description }}</span><br>
      <span>Date: {{ soiree.date }}</span><br>

      <button class="btn btn-primary" ng-click="deleteSoiree(soiree._id)">Delete</button>
    </div>
  </div>
</div>
